<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.8.2, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="https://cs-notes-1256109796.cos.ap-guangzhou.myqcloud.com/githubio/logomakr-3sxxzw-128x128.png" type="image/x-icon">
    <meta name="description" content="">
    <title>个人简历</title>
    <link rel="stylesheet" href="<%- config.root %>assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="<%- config.root %>assets/tether/tether.min.css">
    <link rel="stylesheet" href="<%- config.root %>assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- config.root %>assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="<%- config.root %>assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="<%- config.root %>assets/as-pie-progress/css/progress.min.css">
    <link rel="stylesheet" href="<%- config.root %>assets/socicon/css/styles.css">
    <link rel="stylesheet" href="<%- config.root %>assets/theme/css/style.css">
    <link rel="stylesheet" href="<%- config.root %>assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="<%- config.root %>assets/mystyle.css">
    <script src="<%- config.root %>assets/web/assets/jquery/jquery.min.js"></script>
</head>

<body>
    <section class="header5 cid-r3mcMCaeWf mbr-fullscreen mbr-parallax-background" id="header5-3">
        <div class="mbr-overlay" style="opacity: 0.45; background-color: rgb(0, 0, 0);">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">李庆全</h1>
                    <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style typing">实习项目、科研项目以及个人项目介绍。</p>
                </div>
            </div>
        </div>
        <div class="hero-quote">渺沧海之一粟</div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
        </div>
    </section>
    <section class="engine"><a href="https://mobiri.se/r">bootstrap templates</a></section>

    <!-- 项目 Section：保留第一个，删除其它不需要的 -->
    <section class="header3 cid-r3otdsLP1U mbr-fullscreen" id="header3-9" style="background: linear-gradient(to left top, #cebfaf, #767676);">
        <div class="container">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="https://cs-notes-1256109796.cos.ap-guangzhou.myqcloud.com/githubio/1-2.gif" alt="Mobirise" title="">
                </div>
                <div class="media-content">
                    <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2">游戏场景任意破坏与重建算法研究&nbsp;</h1>
                    <h3 class="mbr-section-subtitle align-left mbr-white mbr-light pb-3 mbr-fonts-style display-5">2018.7.3 - 2018.8.31 
<div>网易互娱梦幻事业部&nbsp;</div></h3>
                    <div class="mbr-section-text mbr-white pb-3 ">
                        <p class="mbr-text mbr-fonts-style display-7">• 提出了基于体素模型和 Marching Cube 的一整套破坏与重建算法。
                            <br>• 使用 Unity 3D 进行算法实现，在算法实现上进行了大量优化，来提高时间效率、空间效率以及模型质量。例如使用享元模式来共享游戏模型中相同的数据、将原来的递归操作转迭代操作、 将一些关键参数转换为 2 的指数幂，从而将耗时的运算转换为位运算、使用乐观策略进行模型分隔分析。
                            <br>• 梦幻事业部已经打算将这个课题落地，运用在梦幻西游 3D 手游中。</p>
                    </div>

                    <div class="mbr-section-btn"><a class="btn btn-md btn-white-outline display-4" href="https://github.com/CyC2018/CyC2018.github.io/blob/master/doc/%E6%B8%B8%E6%88%8F%E5%9C%BA%E6%99%AF%E4%BB%BB%E6%84%8F%E7%A0%B4%E5%9D%8F%E4%B8%8E%E9%87%8D%E5%BB%BA%E7%AE%97%E6%B3%95%E7%A0%94%E7%A9%B6.md" target="_blank">More</a>
                        <a class="btn btn-md btn-black-outline display-4" href="https://github.com/CyC2018/CyC2018.github.io/blob/master/doc/%E6%B8%B8%E6%88%8F%E5%9C%BA%E6%99%AF%E4%BB%BB%E6%84%8F%E7%A0%B4%E5%9D%8F%E4%B8%8E%E9%87%8D%E5%BB%BA%E7%AE%97%E6%B3%95%E7%A0%94%E7%A9%B6.md">More</a></div>

                </div>
            </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
        </div>
    </section>

    <!-- 保留“开源技术博客” Section -->
    <section class="header3 cid-r3oA4r7r19 mbr-fullscreen" id="header3-f">
        <div class="container">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 100%;">
                    <img src="https://cs-notes-1256109796.cos.ap-guangzhou.myqcloud.com/githubio/logomakr-0zpezn-563x600.png" alt="Mobirise" title="">
                </div>
                <div class="media-content">
                    <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2">
                    小泉技术博客</h1>
                    <div class="mbr-section-text mbr-white pb-3 ">
                        <p class="mbr-text mbr-fonts-style display-7">开源在 Github 的技术博客，已有 70k star，在所有 Github 开源仓库中排在 20 名。&nbsp;
                            <br>
                        </p>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-md btn-white-outline display-4" href="https://github.com/CyC2018/CS-Notes" target="_blank">Github</a>
                        <a class="btn btn-md btn-black-outline display-4" href="https://mobirise.com">LIVE DEMO</a></div>
                </div>
            </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
        </div>
    </section>

    <!-- 技能 Section 保留 -->
    <section class="progress-bars3 cid-r3oHlTWEui" id="progress-bars3-i">
        <div class="container">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            编程语言</h2>
            <div class="media-container-row pt-5 mt-2">
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress1" role="progressbar" data-goal="70">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Java
                    </h4>
                    </div>
                </div>
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress2" role="progressbar" data-goal="50">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        C++
                    </h4>
                    </div>
                </div>
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress3" role="progressbar" data-goal="50">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Python
                    </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="progress-bars3 cid-r3oHUdpUmZ" id="progress-bars3-j">
        <div class="container">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Web
        </h2>
            <div class="media-container-row pt-5 mt-2">
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress1" role="progressbar" data-goal="70">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        MySQL
                    </h4>
                    </div>
                </div>
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress2" role="progressbar" data-goal="50">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Spring
                    </h4>
                    </div>
                </div>
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress3" role="progressbar" data-goal="50">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        JavaScript
                    </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="progress-bars3 cid-r3oIeKK9By" id="progress-bars3-l">
        <div class="container">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            中间件
        </h2>
            <div class="media-container-row pt-5 mt-2">
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress1" role="progressbar" data-goal="70">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Redis
                    </h4>
                    </div>
                </div>
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress2" role="progressbar" data-goal="50">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        RabbitMQ
                    </h4>
                    </div>
                </div>
                <div class="card p-3 align-center">
                    <div class="wrap">
                        <div class="pie_progress progress3" role="progressbar" data-goal="50">
                            <p class="pie_progress__number mbr-fonts-style display-5"></p>
                        </div>
                    </div>
                    <div class="mbr-crt-title pt-3">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                        ZooKeeper
                    </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cid-qTkAaeaxX5 mbr-reveal" id="footer1-2">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="">
                        <img src="https://cs-notes-1256109796.cos.ap-guangzhou.myqcloud.com/githubio/logomakr-3sxxzw-192x192.png" alt="Mobirise" title="">
                    </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                    Address
                </h5>
                    <p class="mbr-text">山东省（这里可以改成你的真实地址）</p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                    Contacts
                </h5>
                    <p class="mbr-text">
                        Email: liqingquan2025@163.com
                        <br>Phone: 15865799671
                        <br>
                    </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                    Links
                </h5>
                    <div class="soc-item">
                        <a href="https://github.com/CyC2018" target="_blank">
                                <span class="socicon-github socicon mbr-iconfont mbr-iconfont-social" style="color: #fff;"></span>
                            </a>
                    </div>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="<%- config.root %>assets/web/assets/jquery/jquery.min.js"></script>
    <script src="<%- config.root %>assets/popper/popper.min.js"></script>
    <script src="<%- config.root %>assets/tether/tether.min.js"></script>
    <script src="<%- config.root %>assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%- config.root %>assets/smoothscroll/smooth-scroll.js"></script>
    <script src="<%- config.root %>assets/parallax/jarallax.min.js"></script>
    <script src="<%- config.root %>assets/theme/js/script.js"></script>
    <script src="<%- config.root %>assets/as-pie-progress/jquery-as-pie-progress.min.js"></script>
    <script>
    jQuery(function($) {
        $('#next-skill').on('click', function() {
            $('.pie_progress').asPieProgress('reset');
            setTimeout(function() { $('.pie_progress').asPieProgress('start'); }, 700);
        });
    });
    </script>
</body>

</html>
